In [1]:
from textblob import TextBlob

In [2]:
import nltk

In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
df=pd.read_csv('output.csv', error_bad_lines=False)

b'Skipping line 78: expected 3 fields, saw 4\nSkipping line 86: expected 3 fields, saw 4\nSkipping line 89: expected 3 fields, saw 4\n'

In [6]:
df

,/Applications/MAMP/Library/bin/mysql Ver 14.14 Distrib 5.7.23,for osx10.9 (x86_64) using EditLine wrapper
Copyright (c) 2000,2018,Oracle and/or its affiliates. All rights rese...
Oracle is a registered trademark of Oracle Corporation and/or its,NaN,NaN
affiliates. Other names may be trademarks of their respective,NaN,NaN
owners.,NaN,NaN
Usage: /Applications/MAMP/Library/bin/mysql [OPTIONS] [database],NaN,NaN
...,...,...
show-warnings FALSE,NaN,NaN
plugin-dir (No default value),NaN,NaN
default-auth (No default value),NaN,NaN
binary-mode FALSE,NaN,NaN
connect-expired-password FALSE,NaN,NaN

In [7]:
df.shape

(218, 2)

In [8]:
df.columns

Index(['/Applications/MAMP/Library/bin/mysql  Ver 14.14 Distrib 5.7.23', ' for osx10.9 (x86_64) using  EditLine wrapper'], dtype='object')

In [9]:
df.describe()

,/Applications/MAMP/Library/bin/mysql Ver 14.14 Distrib 5.7.23,for osx10.9 (x86_64) using EditLine wrapper
count,48,5
unique,48,5
top,2018,Oracle and/or its affiliates. All rights rese...
freq,1,1

In [11]:
df.sentiment

AttributeError: 'DataFrame' object has no attribute 'sentiment'

,/Applications/MAMP/Library/bin/mysql Ver 14.14 Distrib 5.7.23,for osx10.9 (x86_64) using EditLine wrapper
show-warnings FALSE,NaN,NaN
plugin-dir (No default value),NaN,NaN
default-auth (No default value),NaN,NaN
binary-mode FALSE,NaN,NaN
connect-expired-password FALSE,NaN,NaN